---
import { Image } from 'astro:assets';

import ScheduleShape3 from '@/images/shape/schedule_shape3.png';
import ScheduleShape4 from '@/images/shape/schedule_shape4.png';
import SpeakerJorgePerez from '@/images/speaker/jorge-perez.jpg';
import SpeakerEnriqueHormilla from '@/images/speaker/enrique-hormilla.jpg';
import SpeakerDiegoCristobalHerreros from '@/images/speaker/diego-cristobal-herreros.jpg';
import SpeakerIvanPedrazas from '@/images/speaker/ivan-pedrazas.jpg';
import SpeakerViktorFarcic from '@/images/speaker/viktor-farcic.jpg';
---

<!-- Schedule Area Start -->
<div id="schedule" class="schedule-area schedule-area-2 section-padding-02">
  <Image src={ScheduleShape3} class="schedule-shape3" alt="Shape3" />
  <Image src={ScheduleShape4} class="schedule-shape4" alt="Shape4" />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h5 class="sub-title orange">Agenda</h5>
            <h2 class="title">Planifica tu día con nosotros</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 align-items-start">
      <div class="col-12">
        <div class="tab-content">
          <div class="tab-pane show active">
            <div class="schedule-wrapper">
              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail text-center">
                      <Image
                        src={SpeakerJorgePerez}
                        alt="Jorge Perez"
                        class="schedule-thumb-img"
                      />
                      <h5 class="mt-2"><strong>Jorge Perez</strong></h5>
                      <p class="text-muted">
                        <a
                          href="https://bosonit.com/"
                          target="_blank"
                          rel="nofollow"
                        >
                          Bosonit
                        </a>
                      </p>
                      <p class="text-muted">
                        <strong>09:30 - 10:00</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <h4 class="schedule-title">
                          Despliegues Blue-Green con Argo Rollouts
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            Con Argo Rollouts, puedes definir fácilmente
                            despliegues blue-green utilizando las
                            características y funcionalidades que proporciona.
                            Esto incluye la capacidad de definir métricas y
                            políticas para controlar la transición del tráfico
                            entre las versiones azul y verde, así como la
                            automatización del proceso en sí.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail text-center">
                      <Image
                        src={SpeakerEnriqueHormilla}
                        alt="Enrique Hormilla"
                        class="schedule-thumb-img"
                      />
                      <h5 class="mt-2"><strong>Enrique Hormilla</strong></h5>
                      <p class="text-muted">
                        <a
                          href="https://trooptravel.com/"
                          target="_blank"
                          rel="nofollow"
                        >
                          Troop
                        </a>
                      </p>
                      <p class="text-muted">
                        <strong>10:15 - 10.45</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <h4 class="schedule-title">
                          Terraform - Ciclo de vida en empresas y consejos
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            Exploraremos cómo construir, trabajar e iterar con
                            Terraform en entornos empresariales. Descubriendo
                            mejores prácticas, herramientas y topologías de
                            entornos para simplificar, escalar y fomentar la
                            colaboración. ¡Llevemos la infra al siguiente nivel!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail text-center">
                      <Image
                        src={SpeakerDiegoCristobalHerreros}
                        alt="Diego Cristobal Herreros"
                        class="schedule-thumb-img"
                      />
                      <h5 class="mt-2"><strong>Diego Cristobal</strong></h5>
                      <p class="text-muted">
                        <a
                          href="https://www.vmware.com/"
                          target="_blank"
                          rel="nofollow"
                        >
                          VMWare
                        </a>
                      </p>
                      <p class="text-muted">
                        <strong>11:00 - 11:30</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <h4 class="schedule-title">
                          Explorando Cilium como CNI en Kubernetes
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            Exploraremos cómo la tecnología eBPF permite a
                            Cilium proporcionar una seguridad robusta,
                            observabilidad detallada y eficiencia optimizada en
                            las redes de Kubernetes. Abordaremos cómo Cilium
                            fortalece la seguridad al proporcionar políticas de
                            red a nivel de aplicación, permitiendo una
                            segmentación efectiva y el control de acceso basado
                            en identidad y nos adentraremos en cómo Cilium
                            ofrece una observabilidad avanzada al proporcionar
                            una vista detallada del tráfico de red a través de
                            Hubble.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail text-center">
                      <Image
                        src={SpeakerIvanPedrazas}
                        alt="Ivan Pedrazas"
                        class="schedule-thumb-img"
                      />
                      <h5 class="mt-2"><strong>Ivan Pedrazas</strong></h5>
                      <p class="text-muted">
                        <a
                          href="https://www.docker.com/"
                          target="_blank"
                          rel="nofollow"
                        >
                          Docker
                        </a>
                      </p>
                      <p class="text-muted">
                        <strong>11:45 - 12:45</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <h4 class="schedule-title">
                          Ingeniería de plataformas, Complejidad y GenAI
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            La charla tiene como objetivo brindar a los
                            asistentes información sobre las complejidades de la
                            ingeniería de plataformas basadas en Kubernetes y
                            cómo se pueden utilizar las tecnologías GenAI para
                            superar estos desafíos. Los asistentes se marcharán
                            con una comprensión integral de la sinergia entre la
                            ingeniería de plataformas y GenAI y con
                            conocimientos prácticos sobre cómo las soluciones
                            GenAI pueden optimizar sus operaciones de
                            Kubernetes. Ya sea que sea un ingeniero de
                            plataformas, un profesional de DevOps o un líder
                            tecnológico, esta charla brindará perspectivas
                            valiosas sobre cómo navegar las complejidades de
                            Kubernetes y aprovechar el poder de GenAI para
                            impulsar la innovación y la eficiencia en la
                            ingeniería de plataformas.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail text-center">
                      <Image
                        src={SpeakerViktorFarcic}
                        alt="Viktor Farcic"
                        class="schedule-thumb-img"
                      />
                      <h5 class="mt-2"><strong>Viktor Farcic</strong></h5>
                      <p class="text-muted">
                        <a
                          href="https://www.upbound.io/"
                          target="_blank"
                          rel="nofollow"
                        >
                          Upbound
                        </a>
                      </p>
                      <p class="text-muted">
                        <strong>13:00 - 14:00</strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <h4 class="schedule-title">
                          Liberando el poder del serverless en Kubernetes con
                          Knative, Crossplane, Dapr, KEDA, Shipwright y sus
                          amigos
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            En el panorama en constante evolución del serverless
                            ha surgido como una transformadora, ofreciendo un
                            cambio de paradigma en desarrollo y despliegue de
                            aplicaciones. Esta charla profundiza en el mundo del
                            serverless dentro del el ecosistema Kubernetes,
                            mostrando cómo proyectos de código abierto como
                            Knative, Crossplane, Dapr, KEDA, Shipwright, entre
                            otros, permiten a los desarrolladores aprovechar la
                            potencia del serverless sobre Kubernetes. Esta es
                            una charla práctica, donde vamos a construir una
                            aplicación serverless (incluyendo la
                            infraestructura) desde cero. Luego exploraremos cómo
                            extender la aplicación con capacidades serverless
                            adicionales, como eventos, mensajería y gestión de
                            estados. También para ampliar la API de Kubernetes
                            con recursos y controllers personalizados, y cómo
                            utilizar estos operadores para aprovisionar y
                            gestionar aplicaciones serverless.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Schedule Area End -->
